ul li{
    list-style: none;
    display: inline;
    
    
    

}
ul li a{
    padding: 10px;
    text-decoration: none;
    color: white;
}
.container{
    background-color: rgb(133, 56, 235);
    padding: 10px;

}